.header-task-manager{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    border-bottom: 1px solid #444;
    padding: 10px 20px;

    img{
        height: 40px;
    }

    label{
        color: gray;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .profile-section{
        display: flex;
        align-items: center;
        gap: 20px;

        img{
            border-radius: 50%;
        }
    }
}