.inputui {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: transparent;
  border: 1.5px solid rgb(100, 100, 100);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

  input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    background: transparent;
    color: white;
  }

  &:focus-within {
    border-color: rgb(173, 0, 216);
  }

  input::placeholder {
    color: rgb(100, 100, 100);
  }
}
