.container-login{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .login-box{
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 50%;

        img{
            width: 50px;
            margin-bottom: 25px;
        }

        .items{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 13px;

            .header{
                margin-bottom: 50px;
            }
        }
    }

    .banner{
        display: flex;
        width: 50%;
        height: 100%;

        .block{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 50px;
            width: 100%;
            border-radius: 20px;
            background:
            radial-gradient(
                circle at bottom center,
                #a78bfa 0%,
                #7c3aed 25%,
                #4c1d95 45%,
                #1e293b 70%
            ),
            linear-gradient(
                to bottom,
                #0f172a 0%,
                #020617 100%
            );
        }
    }
}