.buttonui{
    width: 100%;
    padding: 0.5rem;
    height: 30px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}